#nav_menu ul { list-style-type: none; margin: 0; padding: 0; } 
#nav_menu ul li { float: left; }
#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 175px;
  padding: 1em 0;
  text-decoration: none;
  background-color: blue;
  color: white;
  font-weight: bold;         
  border-right: 2px solid #3333dd; 
}
.toc ol ol,
.toc ol ul {
  padding-left: 20px;
}
#nav_menu ul li:last-child a { border-right: none; } 
#nav_menu ul li a.current { color: yellow; }         
#nav_menu ul li a:hover { background-color: #0000aa; } 
#nav_menu::after { content: ""; display: table; clear: both; } 
#nav_menu {
  border-bottom: 4px solid blue;
  padding: 8px 0 15px 0;
}
h1 {
  color: blue;
  font-weight: bold;
}
h2 {
  color: blue;
  font-weight: bold;
}

.float-img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 150px;  
}
body {
    width: 95%;
    margin: 15px auto;
    
    background url(/images/SH_orange.png); 
    background-position:  right;
    background-repeat: repeat-y;
    
    
    
}

article {
    clear: both;
    background-color: white;
    padding-top: 5px;
    width: 75%;
    column-count: 3;
    column-gap: 20px;
    column-rule: 3px dashed blue;
    padding: 10px;

}

article p:not(.top-link)::first-letter {
    font-size: 5em;     
    font-weight: bold;  
}
 aside {
  width: 20%;
  position: fixed;
  right: 20px;
  top: 300px;
}


.float-img {
    float: left;      
    margin-right: 15px;
    margin-bottom: 10px;
}


.toc {
    background-color: #8fb3bd; 
    padding: 20px 25px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .toc a {
    color: #0000ee; 
    text-decoration: underline;
  }

  .toc ol {
    margin: 0;
    padding-left: 20px;
  }

  .toc ul {
    list-style-type: square;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
  }

  .toc li {
    margin: 6px 0;
  }

  .toc ol ol {
    margin-top: 5px;
  }

  .top-link {
    margin-top: 15px;
  }
  footer.copyright {
  text-align: center;
  border-top: 4px solid blue;
  }